<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.uvsafeaustralia">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UVSafeAustralia">
        <activity android:name=".views.quiz.Category4.QuizCategory4Activity"></activity>
        <activity android:name=".views.quiz.Category3.QuizCategory3Activity" />
        <activity android:name=".views.quiz.Category2.QuizCategory2Activity" />
        <activity android:name=".views.quiz.QuizFourBlocksActivity" />
        <activity android:name=".views.quiz.Category1.QuizCategory1Activity" />
        <activity android:name=".views.MelanomaRiskFactorsActivity"></activity>
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.DBMockActivity"
            android:label="DBMock" />
        <activity
            android:name=".views.SlideActivity"
            android:label="Introduction"
            android:parentActivityName=".views.MainActivity" />
        <activity
            android:name=".views.MainFunction"
            android:parentActivityName=".views.SlideActivity" />
        <activity
            android:name=".views.AboutUVActivity"
            android:label="About UV"
            android:parentActivityName=".views.MainFunction" />
        <activity
            android:name=".views.AboutSunscreensActivity"
            android:label="About Sunscreens"
            android:parentActivityName=".views.MainFunction" />
        <activity
            android:name=".views.ProtectionActivity"
            android:label="Sun Protection Measures"
            android:parentActivityName=".views.MainFunction" />
        <activity
            android:name=".views.SunProtectionActivity"
            android:label="Sun Protection"
            android:parentActivityName=".views.MainFunction" />

        <receiver android:name=".helper.AlarmReceiver" />
    </application>

</manifest>